<script>
    var handleFileSelect = function (evt) {
        var files = evt.target.files;
        var file = files[0];
        const size = Math.round(file.size/1024);
        if(size>60){
            document.getElementById("photo").innerHTML="";
            document.getElementById("photop").value=null;
            alert('File Size is too large file size should be less than 60kb');
            return;
        }
        if (files && file) {
            var reader = new FileReader();

            reader.onload = function (readerEvt) {
                var binaryString = readerEvt.target.result;
                document.getElementById("photo").innerHTML = "data:image/jpeg;base64,"+btoa(binaryString);
            };

            reader.readAsBinaryString(file);
        }
    };

    window.addEventListener('load', () => {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            document.getElementById('photop').addEventListener('change', handleFileSelect, false);
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
    })

</script>
<section class="about_me form_container">
    <div class="title">
        <span><span class="gradientText">About</span>&nbsp;Me</span>
    </div>
    <form class="about_me_form form" action="/edit/about?id=<%= id %>" method="POST">
        <div class="area_field">
            <label for="profile_summary"><span class="gradientText">Profile</span>&nbsp;Summary</label>
            <textarea name="profile_summary" id="profile_summary" cols="30" rows="5"><%= profile_summary %></textarea>
        </div>
        <div class="field">
            <label for="age"><span class="gradientText">A</span>ge</label>
            <input type="number" value="<%= age %>" name="age" id="age">
        </div>
        <div class="field">
            <label for="gender"><span class="gradientText">G</span>ender</label>
            <input type="text" value="<%= gender %>" name="gender" id="gender">
        </div>
        <div class="field">
            <label for="residence"><span class="gradientText">R</span>esidence</label>
            <input type="text" value="<%= residence %>" name="residence" id="residence">
        </div>
        <div class="field">
            <label for="photop"><span class="gradientText">P</span>hoto</label>
            <input type="file" name="photop" id="photop">
            <textarea type="text" name="photo" id="photo" hidden></textarea>
        </div>
        <div class="field">
            <label for="address"><span class="gradientText">A</span>ddress</label>
            <input type="text" value="<%= address %>" name="address" id="address">
        </div><br>
        <div class="button-field">
            <button type="submit"><i class="fas fa-save"></i>&nbsp;Save</button>
        </div>
    </form>
</section>