<div class="basic_details">
    <div class="item_title">
        <span class="gradientText">About</span>&nbsp;Me
    </div>
    <div class="item_container">
        <div class="basic_details__profile_summary box">
            <%= about.profile_summary %> 
        </div>
        <div class="basic_details__info box">
            <ul class="list">
                <li class="list__item">
                    <span class="highlight">Age.....</span><span><%= about.age %></span>
                </li>
                <li class="list__item">
                    <span class="highlight">Gender.....</span><span><%= about.gender %> </span>
                </li>
                <li class="list__item">
                    <span class="highlight">Residence.....</span><span><%= about.residence %> </span>
                </li>
                <li class="list__item">
                    <span class="highlight">Address.....</span><span><%= about.address %> </span>
                </li>
            </ul>
        </div>
    </div>
</div>