<article class="edit_container">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'basic_details')">Basic Details</button>
        <button class="tablinks" onclick="openTab(event, 'about_details')">About</button>
        <button class="tablinks" onclick="openTab(event, 'resume_details')">Resume</button>
    </div>
    <div id="basic_details" class="tabcontent">
        <%- include('./../partials/basicDetails',{...profile.basicDetails,id:profile.id}) %> 
    </div>
    <div id="about_details" class="tabcontent">
        <%- include('./../partials/aboutMe',{...profile.about,id:profile.id}) %> 
        <%- include('./../partials/myServices',{services:profile.services,id:profile.id}) %> 
        <%- include('./../partials/funFacts',{funfacts:profile.funfacts,id:profile.id}) %>
        <%- include('./../partials/quote',{quote:profile.quote,id:profile.id}) %>
    </div>
    <div id="resume_details" class="tabcontent">
        <%- include('./../partials/education',{educations:profile.educations,id:profile.id}) %> 
        <%- include('./../partials/experience',{experiences:profile.experiences,id:profile.id}) %> 
        <%- include('./../partials/language',{languages:profile.languages,id:profile.id}) %> 
    </div>
</article>