<div class="box4">
    <span class="time">
        <%= new Date(education.start).getFullYear() %>-<%= new Date(education.end).getFullYear() %> 
    </span>
    <span class="title">
        <%= education.school %> 
    </span>
    <span class="sub_title">
        <%= education.location %> 
    </span>
    <div class="description">
        <%= education.description %> 
    </div>
</div>