<div class="box4">
    <span class="time">
        <%= new Date(experience.start).getFullYear() %>-<%= new Date(experience.end).getFullYear() %> 
    </span>
    <span class="title">
        <%= experience.organisation %> 
    </span>
    <span class="sub_title">
        <%= experience.job %> 
    </span>
    <div class="description">
       <%= experience.description %> 
    </div>
</div>