<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <%- include("./../lib/lib") %>
    <script>
        window.addEventListener('load',function(){
            checkMessage("<%= message.status?true:false %>");
        })
    </script>
</head>

<body class="full-viewport">
    <div class="effects">
        <div class="background">
            <ul class="bubbles">
                <li class="bubbles__bubble"></li>
                <li class="bubbles__bubble"></li>
                <li class="bubbles__bubble"></li>
                <li class="bubbles__bubble"></li>
            </ul>
        </div>
    </div>
    <%- include('./../partials/message',{status:message.status,message:message.message}) %> 
    <% if (showLogin) { %> 
        <%- include('./../partials/login') %> 
    <% }else{ %>
        <%- include('./../partials/register') %>
    <% } %>
</body>

</html>